:root {
  --color-azure: #437ec1;
  --color-accent: #f6f6f6;
  --color-dark: #171717;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: manipulation;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(247, 247, 247);
}

.grid {
  display: grid;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  border-bottom: 3px solid var(--color-dark);
}

nav img {
  width: 15%;
  max-width: 140px;
  min-width: 100px;
}

nav p {
  font-size: 17px;
  font-weight: 700;
  margin: 2px 0 0 0;
}

.container {
  width: 100vw;
  height: 90vh;
  display: grid;
}

.chat {
  height: calc(var(--vh, 1vh) * 89);
  display: grid;
  grid-template-rows: 80% 20%;
}

#messages {
  height: fit-content;
  max-height: calc(var(--vh, 1vh) * 72);
  padding: 0 5px;
  display: grid;
  width: 90%;
  justify-self: center;
  overflow-y: scroll;
}

.msg--sent,
.msg--recieved,
#dots {
  height: fit-content;
  min-width: 200px;
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  font-weight: 500;
  font-size: 19px;
  word-wrap: break-word;
}

.msg--sent {
  background: #437ec1;
  color: #f6f6f6;
  justify-self: right;
}

.msg--recieved,
#dots {
  background: #dddddd;
  color: #171717;
}

#dots {
  width: 22px;
  min-width: min-content;
  height: min-content;
  font-size: 30px;
  padding-top: 5px;
}

@keyframes dotAnimation {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

#dots::after {
  content: "...";
  animation: dotAnimation 2s infinite;
}

.user_input {
  height: 12vh;
  width: 95%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

#input {
  margin: 3px;
  padding: 10px;
  font-size: 17px;
}

#send {
  margin: 3px;
  background: var(--color-azure);
  color: white;
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}
#send:hover {
  background: #033567;
}

.sidenav {
  padding: 5px;
  display: none;
  border-right: 3px solid black;
}

#newChat {
  background: var(--color-azure);
  color: white;
  width: 95%;
  max-width: 250px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

#newChat:hover {
  background: #033567;
  transform: scale(1.03);
}

.sidenav h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

#prev {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  margin: 5px;
  max-height: 72vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#prev > * {
  color: black;
  border: 2px solid lightgray;
  border-bottom: 3px solid lightgrey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

#prev > *:hover {
  background: var(--color-azure);
  color: white;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 22% 78%;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.login {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 170px;
  height: 130px;
  margin: 30px;
}

form {
  display: none;
  width: 100%;
  max-width: 300px;
  border: 2px solid var(--color-azure);
  border-radius: 20px;
  padding: 60px 20px 40px 20px;
  margin: 0 10px 40px 10px;
}

#error {
  display: none;
  color: red;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
}

form label {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

#email,
#password {
  font-size: 18px;
  padding: 15px 20px;
  border: 2px solid var(--color-azure);
  border-radius: 20px;
  margin-bottom: 40px;
}

#submit {
  background: var(--color-azure);
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border: 0;
  border-radius: 30px;
  transition: 0.3s;
}
#submit:hover {
  background: #033567;
}

#load {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 20px solid var(--color-azure);
  border-top: 20px solid #033567;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.math-inline {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
}

.math-block {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.MathJax {
  margin: 0 !important;
}

.MJX-TEX {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

code {
  white-space: pre-wrap; /* Allows the text to wrap */
  word-wrap: break-word; /* Breaks words at the end of the line */
  display: block;
}
